<div id="modal-backdrop"
     class="fixed left-0 top-0 w-screen h-screen hidden bg-black/50"></div>
<div id="{{ modal_id }}"
     class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden">
    <div class="modal-dialog bg-white rounded shadow-lg sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/3">
        <div class="modal-content p-4 w-full">
            <h2 class="text-xl font-bold">
                {% block modal_title %}
                {% endblock modal_title %}
            </h2>
            <hr class="my-2">
            {% block modal_content %}
            {% endblock modal_content %}
            <hr class="my-2">
            {% block modal_footer %}
            {% endblock modal_footer %}
        </div>
    </div>
</div>
