<nav class="bg-gray-200 text-gray-800 py-2">
    <div class="container mx-auto px-4 py-2">
        <div class="flex items-center justify-between">
            <a class=" font-bold text-xl font-serif" href="{% url 'quiz:home' %}">DjQuiz</a>
            <div class="flex items-center font-semibold">
                <a class="mr-4 hover:text-gray-900 hover:underline hover:underline-offset-4"
                   href="#">Home</a>
                <a class="mr-4 hover:text-gray-900 hover:underline hover:underline-offset-4"
                   href="#">My Quizzes</a>
            </div>
        </div>
    </div>
</nav>
