<nav class="bg-gray-200 text-gray-800 bg-opacity-70 backdrop-filter backdrop-blur-lg py-2">
    <div class="container mx-auto px-4 py-2">
        <div class="flex items-center justify-between">
            <a class=" font-bold text-lg" href="#">DjQuiz</a>
            <div class="flex items-center font-semibold">
                <a class="mr-4 hover:text-gray-900 hover:underline" href="#">Home</a>
                <a class="mr-4 hover:text-gray-900 hover:underline" href="#">My Quizzes</a>
            </div>
        </div>
    </div>
</nav>
